@model RegisterViewModel

<h1>Sign Up</h1>
<br />
<form method="post" asp-action="ConfirmRegister" enctype="multipart/form-data">
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text">@@</span>
            <input asp-for="UserName" type="text" class="form-control" placeholder="Username">
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
	</div>


    <div class="form-floating mb-3">
        <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="PhoneNumber" type="text" class="form-control" id="floatingInput" placeholder="Phone Number">
        <label for="floatingInput">Phone Number</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
        <label for="floatingPassword">Confirm Password</label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="ProfileImage">Upload Profile Image (optional):</label>
        <input asp-for="ProfileImage" type="file" class="form-control" />
    </div>

    <select asp-for="RoleId" class="form-control mb-3" asp-items="@(new SelectList(ViewBag.Roles, "Value", "Text"))">
        <option value="">--Select a Role--</option>
    </select>
    <span asp-validation-for="RoleId" class="text-danger"></span>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/account/login" class="link-primary">I already have an account</a>
    </div>
    
</form>


@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive.min.js"></script>
}
<style>
 h1 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 15px;
        color: #333;
    }
     form {
        max-width: 1100px;
        margin: 0 auto;
        background: linear-gradient(130deg,#F5DEB3 0%,#EBDC57 60%);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    }
     label {
        font-weight: 600;
        color: #444;
        margin-bottom: 16px;
    }
</style>